tests/runtests.log
tests/__pycache__/toolspath.cpython-310.pyc
tests/testing/__pycache__/__init__.cpython-310.pyc
tests/testing/__pycache__/build.cpython-310.pyc
tests/testing/__pycache__/pexpect.cpython-310.pyc
tests/testing/__pycache__/runtests.cpython-310.pyc
tests/testing/__pycache__/test.cpython-310.pyc
tests/testing/__pycache__/xv6.cpython-310.pyc
.vscode/settings.json
xv6-public-copy/asm.h
xv6-public-copy/bio.c
xv6-public-copy/bootasm.S
xv6-public-copy/bootmain.c
xv6-public-copy/buf.h
xv6-public-copy/BUGS
xv6-public-copy/cat.c
xv6-public-copy/console.c
xv6-public-copy/cuth
xv6-public-copy/date.h
xv6-public-copy/defs.h
xv6-public-copy/dot-bochsrc
xv6-public-copy/echo.c
xv6-public-copy/elf.h
xv6-public-copy/entry.S
xv6-public-copy/entryother.S
xv6-public-copy/exec.c
xv6-public-copy/fcntl.h
xv6-public-copy/file.c
xv6-public-copy/file.h
xv6-public-copy/forktest.c
xv6-public-copy/fs.c
xv6-public-copy/fs.h
xv6-public-copy/gdbutil
xv6-public-copy/grep.c
xv6-public-copy/ide.c
xv6-public-copy/init.c
xv6-public-copy/initcode.S
xv6-public-copy/ioapic.c
xv6-public-copy/kalloc.c
xv6-public-copy/kbd.c
xv6-public-copy/kbd.h
xv6-public-copy/kernel.ld
xv6-public-copy/kill.c
xv6-public-copy/lapic.c
xv6-public-copy/LICENSE
xv6-public-copy/ln.c
xv6-public-copy/log.c
xv6-public-copy/ls.c
xv6-public-copy/main.c
xv6-public-copy/Makefile
xv6-public-copy/memide.c
xv6-public-copy/memlayout.h
xv6-public-copy/mkdir.c
xv6-public-copy/mkfs.c
xv6-public-copy/mmu.h
xv6-public-copy/mp.c
xv6-public-copy/mp.h
xv6-public-copy/Notes
xv6-public-copy/param.h
xv6-public-copy/picirq.c
xv6-public-copy/pipe.c
xv6-public-copy/pr.pl
xv6-public-copy/printf.c
xv6-public-copy/printpcs
xv6-public-copy/proc.c
xv6-public-copy/proc.h
xv6-public-copy/README
xv6-public-copy/rm.c
xv6-public-copy/runoff
xv6-public-copy/runoff.list
xv6-public-copy/runoff.spec
xv6-public-copy/runoff1
xv6-public-copy/sh.c
xv6-public-copy/show1
xv6-public-copy/sign.pl
xv6-public-copy/sleep1.p
xv6-public-copy/sleeplock.c
xv6-public-copy/sleeplock.h
xv6-public-copy/spinlock.c
xv6-public-copy/spinlock.h
xv6-public-copy/spinp
xv6-public-copy/stat.h
xv6-public-copy/stressfs.c
xv6-public-copy/string.c
xv6-public-copy/swtch.S
xv6-public-copy/syscall.c
xv6-public-copy/syscall.h
xv6-public-copy/sysfile.c
xv6-public-copy/sysproc.c
xv6-public-copy/toc.ftr
xv6-public-copy/toc.hdr
xv6-public-copy/trap.c
xv6-public-copy/trapasm.S
xv6-public-copy/traps.h
xv6-public-copy/TRICKS
xv6-public-copy/types.h
xv6-public-copy/uart.c
xv6-public-copy/ulib.c
xv6-public-copy/umalloc.c
xv6-public-copy/user.h
xv6-public-copy/usertests.c
xv6-public-copy/usys.S
xv6-public-copy/vectors.pl
xv6-public-copy/vm.c
xv6-public-copy/wc.c
xv6-public-copy/wmap.h
xv6-public-copy/x86.h
xv6-public-copy/zombie.c
tests/edit-makefile.sh
tests/runtests
tests/runtests
tests/edit-makefile.sh
